NEXT_PUBLIC_SUPABASE_URL=https://rlmdcjpeezmjccodalfb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_R9r9wKLHuVZa4C_JvplwnA_EtTjsoNI
NEXT_PUBLIC_GOOGLE_CLIENT_ID=335767572057-622j01jibabvngd786ortcs4pa63rf01.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
